<div id="parallaxOfferOverlay" class="bigInfoDialogOverlay">
  <div class="bigInfoDialog">

    <div class="header">
      <span class="loc_offer_parallax_title"></span>
      <div class="close"></div>
    </div>

    <div class="body">
      <div class="imgContainer">
        <img src="chrome://fvd.speeddial/skin/sd/skin/search/images/parallax-offer.png">
      </div>
      <div class="description loc_offer_parallax_description">
      </div>
    </div>

    <div class="buttons">
      <button class="fvdButton btnParallax green loc_offer_parallax_try_parallax" appear="1"></button>
      <button class="fvdButton btnClose next loc_offer_parallax_cancel" appear="1"></button>
    </div>

  </div>

</div>